# Python environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# ML Models and Scalers 
*.pkl
*.h5
*.joblib

# OS related files
.DS_Store
Thumbs.db

# Flask/Flask-Session files
instance/
.webassets-cache
venv

# Virtual Environment
venv/
.venv/
env/
ENV/

# IDEs and Editors Configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp